# gcovr configuration file
# Coverage scoped to MCTP source files only

filter = src/mctp/
exclude = src/mctp/tests/
html = yes
print-summary = yes
decisions = yes
exclude-throw-branches = yes
exclude-unreachable-branches = yes
