[Unit]
Description=MCTP Heart beat and Restart Application
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service
Requires=mctpd.service
After=mctpd.service
PartOf=mctpd.service
Requires=xyz.openbmc_project.mctpreactor.service
After=xyz.openbmc_project.mctpreactor.service

[Service]
Type=dbus
BusName=xyz.openbmc_project.MCTPHeartBeat

Restart=always
RestartSec=5
ExecStart=/usr/bin/mctpheartbeat -e $MCTP_HEARTBEAT_EID

[Install]
WantedBy=multi-user.target