[Unit]
Description=NVIDIA Info Service
StopWhenUnneeded=false
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Type=dbus
BusName=xyz.openbmc_project.NvidiaInfo
Restart=always
RestartSec=5
ExecStart=/usr/libexec/dbus-sensors/nvidiainfo

[Install]
WantedBy=multi-user.target
